*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
.container{
 width: 100%;
 height: 100vh;
 display: block;
}
.main-container{
 margin-top: 20px;
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
}
.logo{
 width: 60%;
 height: 37%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: 'Arial', Sans-Serif;
}
img{
 width: 76%;
 height: 70%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border-radius: 100%;
}
h1{
 font-size: 20px;
}
.link{
 margin: 10px auto;
 width: 80%;
 display: flex;
 flex-direction: column;
}
a{
 height: 50px;
 width: 100%;
 border: 1px solid black;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
 border-radius: 50px;
 text-decoration: none;
 box-shadow: 0 0 5px rgba(0, 0, 0, .6);
 border: none;
 background-color: #007bff;
 color: white;
 font-weight: bold;
}

